{% extends "accounts/base.html" %}

{% block title %}Accounts List{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1 class="text-center">Accounts</h1>

    <!-- Flash Messages -->
    <div class="mt-4">
        {% if messages %}
            {% for message in messages %}
                {% if message.tags == 'success' %}
                    <div class="alert alert-success mt-3" role="alert">
                        {{ message }}
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}
    </div>


    <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover mt-3">
            <thead class="table-primary">
                <tr>
                    <th>ID</th>
                    <th>Account Holder Name</th>
                    <th>Balance</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for account in accounts %}
                <tr>
                    <td>{{ account.account_number }}</td>
                    <td>{{ account.account_holder_name }}</td>
                    <td>${{ account.balance }}</td>
                    <td><a href="{% url 'account-detail' account.account_number %}" class="btn btn-primary btn-sm">View Details</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
